#sidebar {
    max-width: 220px;
    min-width: 220px;
    display: block;
    position: relative;
    z-index: 1;
}

#sidebutton {
    width: 30px;
    background-color: white;
    color: black;
    border: none;
    display: none;
}

#logo {
    width: 55px;
    height: 70px;
    margin-left: 0px;
}

@media (max-width: 900px) {
    #sidebar {
        display: none;
        position: absolute;
        z-index: 1;
    }
    #sidebutton {
        display: block;
    }
}

@media (max-width: 700px) {
    #sidebar {
        max-width: 100%;
        min-width: 100%;
        display: block;
        position: relative;
        z-index: 1;
    }
    #sidebutton {
        display: none;
    }
    #logo {
        width: 50px;
        height: 65px;
        margin-left: 0px;
    }
}